<div id="rating_box" class="tour-rating">
  <%= form_for @rating, remote: true do |f| %>
    <label><%= t ".rating_me" %></label><br>
    <%= f.hidden_field :tour_id, value: @tour.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :point, value: @tour.rating, class: "rating", id: "submit-rating" %><br>
    <%= f.submit t(".submit_rating"), class: "hidden-submit" %>
    <div id="errors" class="alert alert-danger errors"></div>
    <div id="success" class="alert alert-success success"><%= t ".thanks_for_rating" %></div>
  <% end %>
</div>
