<div class="col-md-4">
  <div class="tour">
    <%= link_to tour do %>
      <%= image_tag "tour-1.jpg", class: "img-responsive" %>
    <% end %>
    <span class="rating"><%= t "tours.index.rating", rating: tour.rating %></span>
    <h3 class="tour-name"><%= link_to tour.name, tour %></h3>
    <p class="short-descrip">
      <%= tour.content %>
    </p>
  </div>
</div>
