<% content_for :head_decor do %>
  <%= render "share/slider" %>
<% end %>
<div class="container-fluid">
  <div class="tours popular-tour">
    <div class="container">
      <h2><%= t ".alltours" %></h2>
      <% if @tours.blank?  %>
        <div class="row">
          <%= t ".no_result" %>
        </div>
      <% else %>
      <%= will_paginate @tours %>
        <div class="row">
          <%= render @tours %>
        </div>
      <% end %>
    </div>
  </div>
</div>
