<%= form_for [:admin, @category], remote: true do |f| %>
  <div id="errors" class="alert alert-danger errors"></div>
  <div id="success" class="alert alert-success success"></div>
  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control", placeholder: t(".name") %>
  </div>

  <div class="form-group">
    <%= f.label :description, t(".description") %>
    <%= f.text_area :description, class: "form-control", placeholder: t(".description") %>
  </div>

  <div class="form-group">
    <%= f.label :parent, t(".parent") %>
    <%= f.collection_select :parent_id, @categories, :id, :name, {include_blank: "--select--"},
      {class: "form-control"} %>
  </div>

  <%= f.submit t(".save_category"), class: "btn btn-success" %>
<% end %>
