<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".tour" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <header id="header">
      <%= render "share/top_navigation" %>
      <%= yield :head_decor %>
    </header>
    <%= yield :search_bar %>

    <div id="main-body">
      <%= render "share/alert" %>
      <%= yield %>
    </div>

    <footer id="footer">
      <%= render "share/footer" %>
    </footer>
  </body>
</html>
